version: "3"

services:
  flashmemo-backend:
    build: .
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+;http://+ # sets the URLs for the API (HTTP and/or HTTPS)
      # following keys are boilerplate (taken from https://docs.microsoft.com/en-us/aspnet/core/security/docker-compose-https?view=aspnetcore-5.0)
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Flashmemo@123
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
    volumes:
      - ~/.aspnet/https:/https:ro # certificates generated on local machine are copied into host
    ports:
      - 8000:80
      - 8001:443
    depends_on:
      - "postgres_db"

  postgres_db:
    # all configs in accordance with Postgres' official image standards (https://hub.docker.com/_/postgres)
    image: postgres
    environment:
      - "POSTGRES_PASSWORD=Flashmemo@123"
      - "POSTGRES_DB=flashmemo"
    expose:
      - 5432
    volumes:
      - "./Data/Seeder/flashmemo-init.sql:/docker-entrypoint-initdb.d/flashmemo-init.sql" # .sql file must conform to POSTGRESQL's standards
