version: "3"
services:
  flashmemo-backend:
    build: .
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_HTTPS_PORT=44392
      - ASPNETCORE_Kestrel__Certificates__Default__Password=mypassword123
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
    ports:
      - "4201:443"
      - "4200:80"
    depends_on:
      - "database"
    restart: always
    volumes:
      - ~/.aspnet/https:/https:ro

  database:
    image: mcr.microsoft.com/mssql/server
    environment:
      - "ACCEPT_EULA=Y"
      - "SA_PASSWORD=yourStrong!Password"
      - "MSSQL_PID:Express"
    ports:
      - "1433:1433"
    volumes:
      - "./dbinit.sql:/docker-entrypoint-initdb.d/init.sql"
    command: bash -c "(sleep 40s && /opt/mssql-tools/bin/sqlcmd -S database -U sa -P 'yourStrong!Password' -i /docker-entrypoint-initdb.d/init.sql -I) & /opt/mssql/bin/sqlservr"
